How many different states and territories?

In [3]:
import sqlite3
import pandas as pd
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
df = pd.read_excel(r'C:/Users/AokoK/Downloads/DMS Technical Data.xlsx')
df.nunique()

State FIPS                        52
State                             52
116th Congressional District      54
NAICS Description                 20
Number of Establishments        2616
Employment                      7072
1st Quarter Payroll ($1,000)    8335
Annual Payroll                  8566
Unnamed: 8                         0
Unnamed: 9                        15
Unnamed: 10                        0
Unnamed: 11                        1
Unnamed: 12                        0
Unnamed: 13                        4
Unnamed: 14                        1
Unnamed: 15                        1
dtype: int64

We have 52 states and territories as the second line informs us.

How many people are employed in Michigan?

In [4]:
ndf = df[df['State'] == 'Michigan']
ndf['Employment'].sum()

3803597

What is the state that spends the most on healthcare and social assistance?

In [19]:
hdf = df[df['NAICS Description'] == 'Information']
sdf = hdf.groupby('State').sum()
sdf

,State FIPS,116th Congressional District,Number of Establishments,Employment,"1st Quarter Payroll ($1,000)",Annual Payroll,Unnamed: 8,Unnamed: 10,Unnamed: 12
State,,,,,,,,,
Alabama,7,28,1775,30214,510168,1940817,0.0,0.0,0.0
Alaska,2,0,415,6366,116176,478864,0.0,0.0,0.0
Arizona,36,45,2577,55354,1145388,4112462,0.0,0.0,0.0
Arkansas,20,10,1139,20309,447412,1513973,0.0,0.0,0.0
California,318,1431,27785,712306,36087952,142455047,0.0,0.0,0.0
Colorado,56,28,3849,94242,2993582,10248002,0.0,0.0,0.0
Connecticut,45,15,1755,37973,1175457,4156337,0.0,0.0,0.0
Delaware,10,0,718,7225,152569,567471,0.0,0.0,0.0
District of Columbia,11,0,853,28831,1012672,3546726,0.0,0.0,0.0
Florida,324,378,9931,171613,4406039,15318054,0.0,0.0,0.0
Georgia,182,105,5072,115594,3426533,11781428,0.0,0.0,0.0
Hawaii,30,3,573,7881,130273,488043,0.0,0.0,0.0
Idaho,32,3,827,15586,264257,982424,0.0,0.0,0.0
Illinois,306,171,5819,123279,3328510,11980553,0.0,0.0,0.0
Indiana,162,45,2402,41087,798584,3135469,0.0,0.0,0.0
Iowa,76,10,1559,31263,463567,1795592,0.0,0.0,0.0
Kansas,80,10,1372,25498,526418,2181879,0.0,0.0,0.0
Kentucky,126,21,1636,27943,377258,1430483,0.0,0.0,0.0
Louisiana,132,21,1512,20377,329518,1163568,0.0,0.0,0.0
Maine,46,3,770,10185,168462,570061,0.0,0.0,0.0
Maryland,192,36,2402,49817,1274047,4618147,0.0,0.0,0.0
Massachusetts,225,45,3731,123656,4711155,16985819,0.0,0.0,0.0
Michigan,364,105,4123,64687,1338543,5140108,0.0,0.0,0.0
Minnesota,216,36,2640,58459,1409990,5285570,0.0,0.0,0.0
Mississippi,112,10,1008,12737,159639,606017,0.0,0.0,0.0
Missouri,232,36,2661,53515,1120792,3908083,0.0,0.0,0.0
Montana,30,0,695,7832,115558,444730,0.0,0.0,0.0
Nebraska,93,6,919,20147,384322,1425789,0.0,0.0,0.0
Nevada,128,10,1519,19410,354602,1338531,0.0,0.0,0.0
New Hampshire,66,3,729,15914,389121,1428771,0.0,0.0,0.0
New Jersey,408,78,3769,83459,2786350,8825200,0.0,0.0,0.0
New Mexico,105,6,812,10179,148447,538277,0.0,0.0,0.0
New York,972,378,12233,312491,11909114,41291150,0.0,0.0,0.0
North Carolina,481,91,4017,91385,2230764,8296573,0.0,0.0,0.0
North Dakota,38,0,347,7048,129199,512353,0.0,0.0,0.0
Ohio,624,136,4052,95725,1749733,6708083,0.0,0.0,0.0
Oklahoma,200,15,1466,25168,394721,1441998,0.0,0.0,0.0
Oregon,205,15,2335,36093,788106,3135924,0.0,0.0,0.0
Pennsylvania,756,171,5304,106305,3252241,10495154,0.0,0.0,0.0
Puerto Rico,72,0,766,16881,207588,751028,0.0,0.0,0.0
Rhode Island,88,3,402,6984,154948,551014,0.0,0.0,0.0
South Carolina,315,28,1682,34852,655768,2307013,0.0,0.0,0.0
South Dakota,46,0,449,6330,86343,318079,0.0,0.0,0.0
Tennessee,423,45,2876,45790,889770,3170145,0.0,0.0,0.0
Texas,1728,666,11056,258697,6796788,23670209,0.0,0.0,0.0
Utah,196,10,1815,55248,1242417,4792108,0.0,0.0,0.0
Vermont,50,0,491,7207,138884,516629,0.0,0.0,0.0
Virginia,561,66,3877,95597,3109137,10719086,0.0,0.0,0.0
Washington,530,55,4108,158103,8988724,34568123,0.0,0.0,0.0
West Virginia,162,6,626,7609,102773,389242,0.0,0.0,0.0
Wisconsin,440,36,2452,53579,1057602,4190576,0.0,0.0,0.0
Wyoming,56,0,444,3816,50494,206553,0.0,0.0,0.0

In [22]:
state = hdf[hdf['Annual Payroll'] == hdf['Annual Payroll'].max()]
state

,State FIPS,State,116th Congressional District,NAICS Description,Number of Establishments,Employment,"1st Quarter Payroll ($1,000)",Annual Payroll,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
746,6,California,14,Information,612,74672,5879410,26786395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What is the average number of people employed in information per state?

In [12]:
idf = df[df['NAICS Description'] == 'Information']
idf

,State FIPS,State,116th Congressional District,NAICS Description,Number of Establishments,Employment,"1st Quarter Payroll ($1,000)",Annual Payroll,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
3,1,Alabama,1,Information,286,3774,60691,232561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1,Alabama,5,Information,278,5344,82032,331460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,1,Alabama,7,Information,265,4667,75132,297207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1,Alabama,4,Information,184,2151,31769,119330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,1,Alabama,6,Information,292,9607,203046,734721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8557,55,Wisconsin,7,Information,321,2665,28264,115751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8606,55,Wisconsin,1,Information,198,2669,27570,98836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8627,55,Wisconsin,4,Information,245,8454,183177,672645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8629,55,Wisconsin,3,Information,328,4810,110266,356358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8637,56,Wyoming,0,Information,444,3816,50494,206553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
iidf=idf.groupby('State').sum()
iidf

,State FIPS,116th Congressional District,Number of Establishments,Employment,"1st Quarter Payroll ($1,000)",Annual Payroll,Unnamed: 8,Unnamed: 10,Unnamed: 12
State,,,,,,,,,
Alabama,7,28,1775,30214,510168,1940817,0.0,0.0,0.0
Alaska,2,0,415,6366,116176,478864,0.0,0.0,0.0
Arizona,36,45,2577,55354,1145388,4112462,0.0,0.0,0.0
Arkansas,20,10,1139,20309,447412,1513973,0.0,0.0,0.0
California,318,1431,27785,712306,36087952,142455047,0.0,0.0,0.0
Colorado,56,28,3849,94242,2993582,10248002,0.0,0.0,0.0
Connecticut,45,15,1755,37973,1175457,4156337,0.0,0.0,0.0
Delaware,10,0,718,7225,152569,567471,0.0,0.0,0.0
District of Columbia,11,0,853,28831,1012672,3546726,0.0,0.0,0.0
Florida,324,378,9931,171613,4406039,15318054,0.0,0.0,0.0
Georgia,182,105,5072,115594,3426533,11781428,0.0,0.0,0.0
Hawaii,30,3,573,7881,130273,488043,0.0,0.0,0.0
Idaho,32,3,827,15586,264257,982424,0.0,0.0,0.0
Illinois,306,171,5819,123279,3328510,11980553,0.0,0.0,0.0
Indiana,162,45,2402,41087,798584,3135469,0.0,0.0,0.0
Iowa,76,10,1559,31263,463567,1795592,0.0,0.0,0.0
Kansas,80,10,1372,25498,526418,2181879,0.0,0.0,0.0
Kentucky,126,21,1636,27943,377258,1430483,0.0,0.0,0.0
Louisiana,132,21,1512,20377,329518,1163568,0.0,0.0,0.0
Maine,46,3,770,10185,168462,570061,0.0,0.0,0.0
Maryland,192,36,2402,49817,1274047,4618147,0.0,0.0,0.0
Massachusetts,225,45,3731,123656,4711155,16985819,0.0,0.0,0.0
Michigan,364,105,4123,64687,1338543,5140108,0.0,0.0,0.0
Minnesota,216,36,2640,58459,1409990,5285570,0.0,0.0,0.0
Mississippi,112,10,1008,12737,159639,606017,0.0,0.0,0.0
Missouri,232,36,2661,53515,1120792,3908083,0.0,0.0,0.0
Montana,30,0,695,7832,115558,444730,0.0,0.0,0.0
Nebraska,93,6,919,20147,384322,1425789,0.0,0.0,0.0
Nevada,128,10,1519,19410,354602,1338531,0.0,0.0,0.0
New Hampshire,66,3,729,15914,389121,1428771,0.0,0.0,0.0
New Jersey,408,78,3769,83459,2786350,8825200,0.0,0.0,0.0
New Mexico,105,6,812,10179,148447,538277,0.0,0.0,0.0
New York,972,378,12233,312491,11909114,41291150,0.0,0.0,0.0
North Carolina,481,91,4017,91385,2230764,8296573,0.0,0.0,0.0
North Dakota,38,0,347,7048,129199,512353,0.0,0.0,0.0
Ohio,624,136,4052,95725,1749733,6708083,0.0,0.0,0.0
Oklahoma,200,15,1466,25168,394721,1441998,0.0,0.0,0.0
Oregon,205,15,2335,36093,788106,3135924,0.0,0.0,0.0
Pennsylvania,756,171,5304,106305,3252241,10495154,0.0,0.0,0.0
Puerto Rico,72,0,766,16881,207588,751028,0.0,0.0,0.0
Rhode Island,88,3,402,6984,154948,551014,0.0,0.0,0.0
South Carolina,315,28,1682,34852,655768,2307013,0.0,0.0,0.0
South Dakota,46,0,449,6330,86343,318079,0.0,0.0,0.0
Tennessee,423,45,2876,45790,889770,3170145,0.0,0.0,0.0
Texas,1728,666,11056,258697,6796788,23670209,0.0,0.0,0.0
Utah,196,10,1815,55248,1242417,4792108,0.0,0.0,0.0
Vermont,50,0,491,7207,138884,516629,0.0,0.0,0.0
Virginia,561,66,3877,95597,3109137,10719086,0.0,0.0,0.0
Washington,530,55,4108,158103,8988724,34568123,0.0,0.0,0.0
West Virginia,162,6,626,7609,102773,389242,0.0,0.0,0.0
Wisconsin,440,36,2452,53579,1057602,4190576,0.0,0.0,0.0
Wyoming,56,0,444,3816,50494,206553,0.0,0.0,0.0

In [23]:
average = iidf['Employment'].mean()
average

67843.19230769231